################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureFunctions
/Storage/.vs/Globomantics
/Storage/GlobomanticsWeb/obj
/Storage/GlobomanticsWeb/bin/Debug/netcoreapp3.1
